@tailwind base;
@tailwind components;
@tailwind utilities;


/* card component style */
.card{
    border: 1px solid rgb(153, 145, 145);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(37, 36, 36, 0.342);
    padding: 10px;
    margin:5px;
    text-align: center;
    max-width: 220px;
    display: inline-block;

}
.card-img{
    max-width: 90%;
    height: auto;
    border-radius: 50%;
}
.h2X{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;

}

.clicky{
    background-color: rgba(74, 204, 191, 0.932);
    color: aliceblue;
    border-radius: 5px;
    border: none;
    padding:  10px 20px;
    cursor:pointer;
}

.studentz{
    font-size: large;
    padding: 1px;
    border: 1px dotted blue;
    margin-top: 20px;
}

.stylewel{
    background-color: yellow;
}
.wwwen{
    background-color: aquamarine;
}